[submodule "external/cpp-cache"]
	path = external/cpp-cache
	url = https://github.com/Montellese/cpp-cache.git
[submodule "external/cpp-taskflow"]
	path = external/cpp-taskflow
	url = https://github.com/cpp-taskflow/cpp-taskflow.git
[submodule "external/dualmc"]
	path = external/dualmc
url=https://github.com/Markyparky56/dualmc.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/meshoptimizer"]
	path = external/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/FastNoise"]
	path = external/FastNoise
	url = https://github.com/Markyparky56/FastNoise.git
[submodule "external/dlog"]
	path = external/dlog
	url = https://gitlab.com/cantordust/dlog.git
